$progress-spinner: selector(progress-spinner);
$progress-spinner-size: 28px !default;

$progress-bar: selector(progress-bar);
$progress-bar-height: 4px !default;
$progress-bar-max-width: 240px !default;
