$mega-menu: selector(mega-menu);
$mega-menu-font-size: $font-size-m !default;
$mega-menu-height: 90px !default;
$mega-menu-height-s: 56px !default;
$mega-menu-logo-height: 50px !default;
$mega-menu-logo-height-s: 30px !default;
$mega-menu-action-bar-height: 56px !default;
